h1{
    text-shadow: 40px;
    text-align: center;
    color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

label , input{
    width: 400px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    text-align: center;
}

div{
    text-align: center;
}
button{
    color: black;
    background-color: lightgoldenrodyellow;
    padding: 5px;
    width: 300px;
}

body{
    background-image: url(/5c7bd135417403.56f604003e0eb.jpg);
    background-color: aqua;
    background-position: top;
}


